.node {
    width: 29px;
    height: 29px;

    margin: 5px;
    /* /border: 1px solid #e1d9d1; */

    border-radius: 4px;
    background: #3F3351;
    box-shadow:  3px 3px 7px #191420,
                -3px -3px 7px #655282;
}

.node-start {
    background-color: green;
}

.node-end {
    background-color: red;
}

.node-wall {
    background-color: black;
}

.node-wall {
  background-color: rgba(0, 200, 200, 0.5);;
}

.node-visited {
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes visitedAnimation {
    0% {
      transform: scale(0.3);
      background-color: rgb(134, 72, 121);
      border-radius: 10%;
    }
  
    50% {
      background-color: rgb(233, 166, 166);
    }
  
    75% {
      transform: scale(1.2);
      background-color: rgb(233, 166, 166);
    }
  
    100% {
      transform: scale(1);
      background-color: rgb(233, 166, 166);
    }
  }
  
  .node-wall {
    animation-name: wall;
    animation-duration: .25s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }

  @keyframes wall {
    0% {
      opacity: 0.5;
      transform: scale(1.25);
      background-color: black;
    }
  
    100% {
      opacity: 1;
      transform: scale(1);
      background-color: black;
    }
  }

  .node-weight {
    animation-name: weight;
    animation-duration: .25s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }

  @keyframes weight {
    0% {
      opacity: 0.5;
      transform: scale(1.25);
      background-color: cyan;
    }
  
    100% {
      opacity: 1;
      transform: scale(1);
      background-color: rgba(0, 200, 200, 0.5);
    }
  }
  
  .node-shortest-path {
    animation-name: shortestPath;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes shortestPath {
    0% {
      transform: scale(0.6);
      background-color: #ccb7e5;
    }
  
    50% {
      transform: scale(1.2);
      background-color: #ccb7e5;
    }
  
    100% {
      transform: scale(1);
      background-color: #ccb7e5;
    }
  }